.navbar{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

.element{
    list-style: none;
    font-size: xx-large;
}

.link{
    text-decoration: none;
    color: aliceblue;
}

.link:hover{
    color:blue
}

.align{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}